body {
    background-color: rgb(232, 243, 242);
}


hr {
    background-color: white;

    border-style: none;
    border-top-style: dotted;
    border-color: gray;
    border-width: 5px;

    width: 5%;


}

h1 {
    color: #66bfbf;

}

h2 {
    color: #a6d4d4;
}

h3 {
    color: #a6d4d4;
}

aquamarine {
    color: #a6d4d4;
}

a:-webkit-any-link"aqua {
 color: rgb(48, 43, 0);
cursor:;
text-decoration: burlywood;
}